:root {
    --main-bg-color: #fff;
    --main-text-color: #000;
    --button-bg-color: #000;
    --button-text-color: #fff;
}

[data-theme='dark'] {
    --main-bg-color: #000;
    --main-text-color: #fff;
    --button-bg-color: #fff;
    --button-text-color: #000;
}

.container {
    height: 100vh;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 20px;
    transition: all 0.5s;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.content-container h1 {
    color: var(--main-text-color);
    margin: 0;
}

.content-container button {
    background-color: var(--button-bg-color);
    border: none;
    color: var(--button-text-color);
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}